<div class="well">

<form class="form-horizontal" form action="/" method="post">
  <div class="form-group">
    <label for="keywords" class="col-sm-2 control-label">Job Title or Keywords: </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="job title, skills, keywords or company name" name="keyword">
    </div>
  </div>
  <div class="form-group">
    <label for="location" class="col-sm-2 control-label">Location</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="zip code, city or state" name="location">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <button type="submit" class="btn btn-success btn-lg" value="Submit">Find Tech Jobs</button>
    </div>
  </div>
</form>

</div>

<div>
<% unless data.nil? %>
  <%= erb :"results", :locals =>{:data => data}%>

<% end %>

</div>